
<h2>Brew List</h2>
<ul class="brews">
  <li *ngFor="let brew of brews">
    <span class="badge">{{brew.id}}</span> <span>{{brew.name}}</span> {{brew.type}} {{brew.isAvalible}} {{brew.breweryID}}
  </li>
</ul>

<table>
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let brew of brews">
    <td *ngFor="let col of columns">
      {{char[col]}}
    </td>
  </tr>
</table>




<!-- Mock Table
<table style="width:70%" align="center">
  <tr>
    <th>Brewery Name</th>
    <th>Brew Name</th> 
    <th>Type of beer</th>
    <th>In season</th>
  </tr>
  <tr>
    <td>Sibling</td>
    <td>Normal Beer</td> 
    <td>IPA</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Platform</td>
    <td>Fancy Beer</td> 
    <td>IPA</td>
    <td>No</td>
  </tr>
</table>
-->



